.index-wrapper {
    overflow: hidden;
    position: relative;
    height: 100%;
    background: url('/images/bg.png') no-repeat;
    background-size: 100% 100%;
}

.link-element-wrapper {
    height: 100%;
}

.link-element {
    position: absolute;
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 60%;
    }
    &.bg {
        left: 33px;
        top: -34px;
        img {
            height: 75%;
        }
        &.animate {
            animation: bg-animate 3s cubic-bezier(0.22, 0.61, 0.36, 1) infinite alternate;
            filter: drop-shadow(2px 5px 1px grey);
        }
    }
    &.aviator {
        transition: transform .5s;
        z-index: 1;
        img {
            filter: drop-shadow(-3px 5px 3px grey);
            transition: filter 1.5s;
        }
    }
    &.word {
        img {
            height: 21%;
            z-index: 1;
            filter: blur(3px) drop-shadow(7px 10px 25px grey);
        }
    }
}

.link-background {
    background: $background_color;
    position: absolute;
    bottom: 0;
    z-index: 2;
    right: 0;
    width: 100%;
    height: 25%;
    padding-top: 2.5%;
    color: white;
    display: flex;
    justify-content: center;
    &.enter-active {
        height: 115%;
        transition: height $background_duration linear;
    }
}

.btn-wrapper {
    text-align: center;
    svg {
        margin: 0 5px;
    }
    img {
        width: 16%;
        margin: 0px 2%;
        border-radius: 100%;
        overflow: hidden;
        &:hover {
            animation: link-rotate .5s linear;
        }
    }
}

.link-button {
    &:hover {
        animation: stroke-animate .35s linear;
        stroke-width: 5;
        stroke-dasharray: 300;
        stroke: white;
    }
    &.active {
        stroke-width: 5;
        stroke-dasharray: 300;
        stroke: white;
    }
    &:focus {
        outline: none;
    }
}

.copyright {
    position: absolute;
    bottom: 0%;
    margin-bottom: 11vh;
    font-size: 12px;
}

.about {
    height: 70%;
    width: 55%;
    background: black;
    border-radius: 10px;
    padding: 25px;
    color: lightgrey;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ._title {
        font-size: 19px;
        font-weight: bold;
        padding-bottom: 10px;
    }
    ._detail {
        padding-bottom: 10px;
    }
    ._close {
        padding-top: 10px;
        text-align: center;
        .__icon {
            &:hover {
                color: #c35f32;
                transform: scale(1.2);
            }
        }
    }
}

.about-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

@keyframes stroke-animate {
    0% {
        stroke-dashoffset: 300;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

/** tranistion**/

#animate_map {
    position: absolute;
    z-index: 11;
}

.word-enter-active {
    animation: scale 2s $delay cubic-bezier(.86, .09, 0, .98);
}

.item-enter-active {
    animation: opacity 3s $delay linear;
}

.modal-enter-active {
    animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.modal-leave-active {
    animation: unfoldOut 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

@keyframes unfoldIn {
    0% {
        transform: scaleY(.005) scaleX(0);
    }
    50% {
        transform: scaleY(.005) scaleX(1);
    }
    100% {
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes unfoldOut {
    0% {
        transform: scaleY(1) scaleX(1);
    }
    50% {
        transform: scaleY(.005) scaleX(1);
    }
    100% {
        transform: scaleY(.005) scaleX(0);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bg-animate {
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes link-rotate {
    5% {
        transform: rotateY(0turn);
    }
    100% {
        transform: rotateY(1turn);
    }
}

@media screen and (max-width:450px) {
    .link-background {
        height: 20%;
    }
    .btn-wrapper {
        svg {
            width: 40px;
        }
    }
    .link-element {
        top: 30px;
        &.bg {
            top: 20px;
        }
        &.word {
            img {
                width: 90%;
                height: initial;
            }
        }
    }
}