.loading-enter-active {
    transition: all 0.5s linear;
}

.loading-leave-active {
    transition: all 0.7s linear;
}

.loading-enter,
.loading-leave-to {
    opacity: 0; // transform-origin: 50% 50%;
}

.svg-wrapper {
    position: fixed;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; // background: rgb(223, 221, 221);
    background: linear-gradient(rgb(194, 194, 194), rgb(227, 226, 226), rgb(194, 194, 194));
}

.svg-logo {
    stroke-width: 3px;
    stroke-dasharray: 900;
    transform-origin: 50% 40%;
    fill: none;
    animation: svg-logo 2s ease-in-out alternate infinite;
}

@keyframes svg-logo {
    0% {
        transform: rotateY(0turn);
        stroke-dashoffset: 900; // fill: rgba(157, 157, 158, 0.1);
        stroke: rgba(0, 0, 0, 0.1);
    } // 6% {
    //     transform: rotateY(0turn);
    //     stroke-dashoffset: 900; 
    //     fill: rgba(157, 157, 158, 0.1);
    //     stroke: rgba(0, 0, 0, 0.1);
    // }
    // 95% {
    //     transform: rotateY(1turn);
    //     stroke-dashoffset: 0; 
    //     fill: rgba(0, 0, 0, 1);
    //     stroke: rgba(0, 0, 0, 0.7);
    // }
    100% {
        transform: rotateY(1turn);
        stroke-dashoffset: 0; // fill: rgba(0, 0, 0, 1);
        stroke: rgba(0, 0, 0, 0.7);
    }
}