@import './reset.scss';
$background_duration:.8s;
$background_color:#3B2E2C;
$delay:0s; //because loading page
@import './font.css';
@import './loading.scss';
@import './map.scss';
@import './index.scss';
@import './gallery.scss';
@import './article.scss';
.font_Raleway {
    font-family: 'Raleway';
}

.font_Nunito {
    font-family: 'Nunito';
}

.font_RoundFont {
    font-family: 'RoundFont'
}

.font_Marker {
    font-family: 'Permanent Marker', cursive;
}

@font-face {
    font-family: RoundFont;
    src: url('/static/fonts/GenJyuuGothic-Normal.ttf');
    src: url('/static/fonts/GenJyuuGothic-Normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal
}

html {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
    /* -- text not select -- */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
#__nuxt,
#__layout {
    height: 100%;
    min-width: 1366px;
}

#__layout>div:first-child {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

button,
ol,
li {
    outline: none;
    &:focus {
        outline: none;
    }
}

::-webkit-scrollbar {
    display: none;
}

/* Transitions using the page hook */

.page-enter-active,
.page-leave-active {
    transition: all 0.6s linear;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}

.home-link-leave-active {
    transition: all $background_duration linear;
}

@media screen and (max-width: 450px) {
    body,
    #__nuxt,
    #__layout {
        min-width: 320px;
    }
}